*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.d-none{
    display:none;
}

body{
    margin:0;
}
nav{
    height:10vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding:10px 25px;
}

.logo{
    height:100%;
    filter: invert(100%);
}

.navlinks{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}

.navlinks li{
    display: inline-block;
    color:white;
    text-transform: uppercase;
    margin:0 15px;
    position:relative;
}

.navlinks li:not(:last-child):hover{
    cursor:pointer;
}

.navlinks li:last-child:hover{
    cursor:default;
}

.navlinks li:not(:last-child)::after{
    content:'';
    height:1px;
    position:absolute;
    width:0;
    bottom:-5px;
    left:0;
    background-color:white;
    transition:0.5s ease;
}

.navlinks li:hover::after{
    width:100%;
}

.item-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:20px 30px;
}

.item-card{
    width:200px;
    /* height:300px; */
    background-color: #333;
    border-radius:10px;
    /* overflow: hidden; */
    margin:20px;
    display: flex;
    flex-direction: column;
}

.card-img{
    overflow: hidden;
}

.card-img img{
    width:100%;
    border-radius: 0;
    transition: 0.2s ease-in-out;
}


.item-card:hover .card-img img{
    border-radius: 0 0 30px 0;
}

.item-description{
    padding:10px;
    color:white;
    font-weight: 100;
    letter-spacing: 1.3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item-description *{
    margin:0;
    margin-bottom:8px;
}



.item-description p{
    width:100%;
    text-align: left;
    font-style: italic;
}

.item-description button{
    height:30px;
    border:none;
    /* border:1px solid white;; */
    /* background:none; */
    text-transform: uppercase;
    color:#333;
    width:60%;
    transition:0.1s ease;
    border-radius: 10px;
}

.item-description button:active{
    transform:scale(95%);
}

#overlay{
    height:100vh;
    width:100%;
    background: rgba(0,0,0,0.8);
    position:absolute; 
    display: none;
}

#mycart{
    width:80%;
    position:absolute;
    margin:auto;
    min-height: 80vh;
    left:0;right:0;top:20px;
    border-radius:30px;
    display:none;
    flex-direction: column;
    background-color: white;
    padding:20px;
    z-index:3;
}

#mycart h3{
    text-align: right;
    margin-right:20px;
    cursor: pointer;
}

#mycart h1{
    text-align: center;
}

.cart-item{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}

.cart-item img{
    height:100px;
}

#cart-items-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-items-list table{
    width:100%;
    text-align: center;
}

#cart-items-list table tr td img{
    height:100px;
    margin:5px;
}

#total-row{
    font-weight: bold;
    text-transform: uppercase;
}

#cartTable tr td i{
    background-color: #333;
    color:white;
    padding: 4px;
    margin:0 20px;
    cursor: pointer;
}

#empty-cart{
    width:50%;
    opacity:30%;
}

#goto-shop-btn{
    height:50px;
    background-color: #333;
    color:white;
    text-transform: uppercase;
    border:none;
    padding:10px 20px;
    position:absolute;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1rem;
    top:50%;
    cursor: pointer;
    transition:0.2s ease-in-out;
}

#goto-shop-btn:hover{
    border-radius:0 0 15px 0;
    background-color: #222;
}

.toaster{
    position:absolute;
    left:40%;
    top:3%;
    height:40px;
    /* width:20%; */
    font-size: 0.8rem;;
    background-color: rgba(101, 255, 137, 0.5);
    color:white;
    opacity:0;
    transform:scale(90%);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:10px 20px;
    border-radius: 15px;
    text-transform: uppercase;
    transition:0.2s ease;
}

.toaster-animation{
    transform: scale(1);
    opacity:1;
}